@{
    ViewBag.Title = "Home Page";
}

<div ng-app="weather-board">
    
    <div class="jumbotron">
        <h1>The Weather Service</h1>
        <p class="lead">Everywhere you go, always take the weather with you</p>
    </div>


    <div class="row" ng-controller="weatherController">
        
        <form>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" ng-model="country" placeholder="Country" ng-change="getCities()"/>
                </div>
                <div class="col-md-6">
                    <select class="form-control" type="text" ng-model="city" placeholder="City"
                            ng-change="changeCity()"
                            ng-options="city as city for city in cities track by city">                        
                    </select>
                </div>
            </div>
        </form>
        <br/>

        <table class="table table-hover table-responsive">
            <tbody>
            <tr>
                <td class="bold">Location</td>
                <td ng-bind="data.location"></td>
            </tr>
            <tr>
                <td class="bold">Time</td>
                <td ng-bind="data.time"></td>
            </tr>
            <tr>
                <td class="bold">Wind</td>
                <td ng-bind="data.wind"></td>
            </tr>
            <tr>
                <td class="bold">Visibility</td>
                <td ng-bind="data.visibility"></td>
            </tr>
            <tr>
                <td class="bold">Sky</td>
                <td ng-bind="data.sky"></td>
            </tr>
            <tr>
                <td class="bold">Humidity</td>
                <td ng-bind="data.humidity"></td>
            </tr>
            <tr>
                <td class="bold">Pressure</td>
                <td ng-bind="data.pressure"></td>
            </tr>
            <tr>
                <td class="bold">Temperature</td>
                <td ng-bind="data.temperature"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

