@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to The Weather Service!</h1>
    <p class="lead">Everywhere you go, always take the weather with you!</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>